html{
    background: $background;
    color: $white;
}


a {
    font-size: $twelvefont;
    color: $white;
    text-decoration: none;
}


body {
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    .slideout {
        animation: 1s ease-in-out slide;
        background: #212121;
        height: 100vh;
        width: 100%;
        left: 0;
        position: fixed;
        z-index: 65465;
        transform: translateX(100%);
    }
    
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}


.main {
    width: 100%;
    @include flex-center;
    .contact {
        position: fixed;
        right: -100vw;
        top: 0;
        z-index: 20000;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #141414;
        padding:0 35px ;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        @media screen and (max-width:990px) {
            width: 100vw;
            max-width: 100vw;
        }
        .form-title{
            margin: 50px 0 70px;
            display: flex;
            align-items: center;
            h2 {
                font-weight: 400;
                font-size: 32px;
                margin-right: auto;
            }
            div {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                cursor: pointer;
                .x-line{
                    width: 70%;
                    height: 1px;
                    background: white;
                    border-radius: 8px;
                    transition: .5s all cubic-bezier(.68,-.55,.265,1.55);
                    position: absolute;
                }
                .x-line:nth-child(1) {
                    transform: rotate(45deg);
                    top: 50%
                }
                .x-line:nth-child(2) {
                    transform: rotate(-45deg);
                    top: 50%

                }
            }
        }
        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            input, textarea{
                background-color: #212121;
                border: 0;
                border-radius: 2px;
                margin: 10px;
                padding: 5px;
                padding-left: 10px;
                color: rgb(117, 117, 117);
                
            }
            input {
                height: 50px;
            }
            textarea {
                height: 200px;
            }
            .names {
                input {
                    width: 250px;
                }
            }
            .lower-form {
                margin-top: 25px;
                input {
                    @include btn($color: $white, $radius: 2px);
                    margin-right: 30px;
                }
            }
        }
    }
    .active {
        right: 0;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(+200px)
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}


.main-txt {
    @include flex-center-vert;
    justify-content: space-between;
    width: 80%;
    max-width: 80%;
    animation: 1.3s ease-in-out slideUp;
    @media screen and (max-width:990px) {
        flex-direction: column;
    }
    h1{
        font-size: 65px;
        max-width: 80%;
        @media screen and (max-width:990px){
            font-size: 45px;
        }
    }
    h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: $twelvefont;
    }
    p {
        font-style: italic;
    }
    .explore {
        margin-top: 4vh;
    }
}