.proj {
    overflow-y: hidden;
    @media screen and (max-width:990px) {
        overflow-y: initial;
    }
    .main-txt {
        max-width: 100%;
        width: 100%;
        @media screen and (max-width:990px) {
            flex-direction: column;
            justify-content: space-around;
            padding-top: 75px;
        }
        .projects {
            max-width: 25%;
            width: 25%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:990px) {
                height: 80vh;
                max-width: 100%;
                width: 100%;
                h2 {
                    font-size: 60px;
                }
                p {
                    font-size: $twelvefont;
                }
            }
            a {
                text-align: center;
                @media screen and (max-width:990px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 80vh;
                    max-width: 100%;
                    width: 100%;
                }
            }
            a::before{
                content: '';
                width: 100%;
                height: 120vh;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                overflow: hidden;
            }
            .annabelle::before {
                background: url(../img/annabelle.jpg) center/cover no-repeat;
            }
            .decathlon::before {
                background: url(../img/decathlon.png) center/cover no-repeat;
            }
            .evento::before {
                background: url(../img/eventoxtra-header.jpg) center/cover no-repeat;
            }
            .flako::before {
                background: url(../img/flako.jpg) center/cover no-repeat;
            }
            a:hover::before {
                opacity: 1;
            }
            @media screen and (max-width:990px) {
                a::before{
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        h2 {
            font-size: 30px;
            margin: 0;
            font-weight: 400;
        }
        p {
            font-style: normal;
            text-transform: uppercase;
            font-size: 10px;
        }
    }
}

